{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="{% static 'build/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="React Three Fiber 3D 应用"/>
    <link rel="apple-touch-icon" href="{% static 'build/logo192.png' %}"/>
    <link rel="manifest" href="{% static 'build/manifest.json' %}"/>
    <title>3D 模型编辑器</title>
    <link href="{% static 'css/main.f855e6bc.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>您需要启用 JavaScript 才能运行此应用。</noscript>
    <div id="root"></div>
    <script defer="defer" src="{% static 'js/main.ba3e2799.js' %}"></script>
</body>
</html>